div#app {
  display: flex;
}

div#app > div {
  flex: auto;
  flex-grow: 1;
  flex-flow: wrap;
}

img#preview-img {
  max-width: 100vw;
  max-height: 100vh;
}

div#preview {
  background-color: #000;
}
