<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="/static/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>
{% block header %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
